.btn {
  border-radius: 2px;
  font-size: 12px;
  padding: 0 16px;
  line-height: 22px;
}
.btn-cta {
  background-color: #4267b2;
  border-color: #4267b2;
  color: white;
}
.btn-cta:hover,
.btn-cta:active,
.btn-cta:focus  {
  background-color: #365899;
  border-color: #365899;
  color: white;
}
